body{ 
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
header {
  width: 100%;
  height: 100px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  backdrop-filter: none;
}

/*unified blur background */
header::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: #ffffff50;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: -1;
}
  
.about{
  height: 1220px;
  background-image: url("/images/about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  position: relative;
}
.about::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000007a;
    z-index: 2;
}
.about-content{
    position: relative;
    z-index: 3;
    color: white;
    max-width: 1270px;
    padding: 10px;
}
.about-content h1{
    font-size: 64px;
    margin-bottom: 10px;
}
.about-content p{
    font-size: 30px;
    line-height: 1.6;
    font-weight: 700;
}

@font-face {
  font-family: 'kalam';
  src: url('/images/kalam.ttf') format('truetype');
}
.logo{
  font-size: 70px;
  font-weight: bold;
  font-family: "kalam";
}

.nav-buttons{
  display: flex;
  gap: 30px;
}
.nav-buttons button{
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 5px 5px;
  background-color: #ffffff00;
  font-size: 28px;
}
.dropdown{
  position: relative;
}
.drop{
  background-color: #ffffff50;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.dropdown-content {
  margin-top: 23px;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 250px;
  box-shadow: 0px 6px 20px -8px rgba(183, 85, 14, 0.3);
  border-radius: 0 0 13px 13px;
  z-index: 100;
  flex-direction: column;
  overflow: hidden;
  display: flex;

  background-color: #ffffff50;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  max-height: 0;
  opacity: 0;
  transform: translateY(0px);
  transition: all 0.35s cubic-bezier(0.25, 1, 0.3, 1);
}


.dropdown-content.show{
  max-height: 500px;
  opacity: 1;
  transform: translateY(0px);

}
.dropdown-content button{
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}
.dropdown-content button:hover{
  background-color: #ffaa0067;
}
.dropdown.open .dropdown-content{
  display: flex;
}



.search {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
  padding: 10px;
  border-radius: 50px;
  background-image: linear-gradient(45deg, #ffab00, #ffc30c);
  color: #282828;
}
.search .search__input {
  width: 0;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  padding-left: 5px;
}
.search .search__input::-webkit-input-placeholder {color: #282828;}
.search .search__input:-ms-input-placeholder {color: #282828;}
.search .search__input::-ms-input-placeholder {color: #282828;}
.search .search__input::placeholder {color: #282828;}
.search .search__button {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 34px;
  height: 34px;
  cursor: pointer;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
.search :is(input, button) {
  background-color: transparent;
  color: inherit;
  outline: none;
  border: none;
  font-size: 1.2rem;
}
.search:focus-within input {
  width: 300px;
}